<style>
    *{
        margin: 0;
    }

    nav{
        background-color: #000;
        display: flex;
    }

    a{
        color: #fff;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px
    }
</style>

<nav>
    <a href="/">Página 1</a>
    <a href="/pg2">Página 2</a>
</nav>